.facebook {
  flex: 0 0 40%;
  text-align: left;
}

.facebook img {
  max-width: 300px;
}

.facebook h2 {
  font: 26px;
  font-weight: 400;
  padding: 0 0 0 25px;
  line-height: 28px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row {
  flex: 0 0 50%;
  text-align: left;
}
